<!-- Creat Event -->
<% if(current_user)%>
	<% if((@meeting.user_id==current_user.id) ) %>
		 <%= link_to "create Event" , new_meeting_event_path(@meeting.id)%> 
	<% end %>
<% end %>

<%- model_class = Meeting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


<! -- list data about Group -->
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @meeting.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @meeting.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:membername) %>:</strong></dt>
  <dd><%= @meeting.membername %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @meeting.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:limit) %>:</strong></dt>
  <dd><%= @meeting.limit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @meeting.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @meeting.location %></dd>
  <dt><strong> Admin:</strong></dt>
  <dd><%  @user = User.find(@meeting.user_id)   %><%= link_to @user.nickname , profiles_show_path(@user.id)%></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= image_tag @meeting.avatar.url %>
  
</dl>


<!-- list Event in this Group -->
<%  @event = Event.find_by_meeting_id(@meeting.id) %>
<% if (@event)%>
<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Date</th>
      <th>Place</th>
      <th>Member</th>
      <th>Meeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting.events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.desc %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= event.member %></td>
        <td><%= event.meeting.title %></td>
        <td><%= link_to 'Show', meeting_event_path(@meeting.id, event.id) %></td>
        <% if(current_user)%>
        <% if((@meeting.user_id==current_user.id) ) %>
		<td><%= link_to 'Edit',  edit_meeting_event_path(@meeting.id, event) %></td>
                 <td><%= link_to 'Destroy', meeting_event_path(@meeting.id, event),
              method: :delete,
              data: { confirm: 'Are you sure?' } , class: "btn btn-danger remove_fields"%></td>
        <% end %>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% end %>



<! Join to Group to add comment -->
<% if(current_user)%>
	<%  @meetuser = Meetuser.find_by_user_id_and_meeting_id(current_user.id,@meeting.id) %>
	       <%  if(!@meetuser && current_user.id != @meeting.user_id) %>
	

			<%= form_for([@meeting,@meeting.meetusers.build]) do |f| %>
			   <div class="field">
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Join"%> 
			  </div>
			<% end %>

	       
		<% end %>
<% end %>



<!-- list Users in Group -->
<% if(current_user)%>
<%  @meetuser = Meetuser.find_by_user_id_and_meeting_id(current_user.id,@meeting.id) %>
       <%  if(@meetuser) %>
<h2>Users in Group</h2>
<% @meeting.meetusers.each do |meetuser| %>
    
  
   <a href="<%= profiles_show_path(meetuser.user_id) %>"><img src="<%= meetuser.user.avatar.url %>" height="50" width="50"></a> 
  
  
<% end %>
<% end %>
<% end %>


<!-- list Comment -->
<h2>Comments</h2>
<% @meeting.comments.each do |comment| %>
  <p>
    
     <%  @user = User.find(comment.user_id )  %>
   <img src="<%= @user.avatar.url %>" height="50" width="50">
    <strong><%= link_to @user.nickname , profiles_show_path(@user.id)  %>:</strong>
  
    
    <%= comment.commentbody %>
  </p>
<% if(current_user)%>
  <%  if(comment.user_id==current_user.id) %>

    <%= link_to 'Destroy', meeting_comment_path(@meeting,comment),
              method: :delete,
              data: { confirm: 'Are you sure?' } , class: "btn btn-danger remove_fields"%>
 <% end %>

   <%  if(comment.user_id==current_user.id) %>

    <%= link_to 'Edit', edit_meeting_comment_path(@meeting,comment) ,:class=> 'btn btn-warning'%>
    
 <% end %>
   
<% end %>
<% end %>
<!-- Add Comment -->
<% if(current_user)%>
<%  @meetuser = Meetuser.find_by_user_id_and_meeting_id(current_user.id,@meeting.id) %>
       <%  if(@meetuser) %>
	<%  if(@meetuser.user_id==current_user.id) %>
	<h2>Add a comment:</h2>
	<%= form_for([@meeting, @meeting.comments.build]) do |f| %>
	  <p>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	  </p>
	  <p>
	    <%= f.label :commentbody %><br>
	    <%= f.text_area :commentbody %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
        <% end %>
<% end %>
<% end %>



<%= link_to t('.back', :default => t("helpers.links.back")),
              meetings_path, :class => 'btn btn-default'  %>

